# Ignore Next.js build output
.next/

# Ignore Node.js modules (dependencies)
node_modules/

# Ignore environment-specific files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore logs and temporary files
logs/
*.log
*.log.*
*.log-*
*.pid

# Ignore IDE/editor configuration files (specific to VS Code and WebStorm)
.vscode/
.idea/

# Ignore build artifacts and test coverage reports
out/
coverage/
