<table
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="
          width: 100% !important;
          height: 100% !important;
          margin: 0;
          padding: 0;
          background-color: #ffffff;
          font-family: Roboto, Tahoma, Verdana, Apple SD Gothic Neo, sans-serif;
          table-layout: fixed;
          box-sizing: border-box;
        "
        width="100%"
      >
        <tbody>
          <tr>
            <td style="text-align: center">
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                style="
                  width: 100% !important;
                  max-width: 600px !important;
                  height: 100% !important;
                  margin: 0 auto;
                  padding: 0;
                  background-color: #ffffff;
                  table-layout: fixed;
                "
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        width: 100%;
                        padding-top: 30px;
                        padding-bottom: 20px;
                        padding-left: 30px;
                      "
                    >
                      <img
                        alt="olive young"
                        src="https://ci4.googleusercontent.com/proxy/84Jx3PGTjZfKf6yQFJpaeytQOMZD-E2Q_BRLAXsVpASTMPgdeoZAVlpUfpqyN-J80X3Q-u5wwINjMpdtMwaENxXJCJE8QKXQ=s0-d-e1-ft#https://image.globaloliveyoungshop.com/email/logo.png"
                        style="display: block; width: 150px; height: 25px"
                        class="CToWUd"
                        data-bit="iit"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        width: 100%;
                        height: 140px;
                        text-align: center;
                        vertical-align: middle;
                        font-family: Roboto, Tahoma, Verdana,
                          Apple SD Gothic Neo, sans-serif;
                        background: #f1f8e2
                          url(https://ci5.googleusercontent.com/proxy/iPcIbf_WboJvTQryXm5GODFHN8FAii740phTmWOBSAdHo_yONlWudT-Ug5rlYDGeW9wSNZccPupWp0lDj0aICtGvpe7HqVjitWNubb81Dfpr=s0-d-e1-ft#https://image.globaloliveyoungshop.com/email/top_ban_bg_04.png)
                          right 0 no-repeat;
                      "
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="
                          width: 100% !important;
                          height: 100% !important;
                          margin: 0;
                          padding: 0;
                          table-layout: fixed;
                        "
                        width="100%"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                text-align: center;
                                height: 140px;
                                vertical-align: middle;
                                font-family: Roboto, Tahoma, Verdana,
                                  Apple SD Gothic Neo, sans-serif;
                                font-size: 28px;
                                font-weight: bold;
                                color: #141414;
                                background: url(https://ci3.googleusercontent.com/proxy/9EE2UMcnvs6IW4y5B9zIq47DIgZuK6By4SdaZgGM20Vb0AcVHnctunezD4TwdYnNz7S5Sr9sKMcJOa8ZrmiDeXW6JNAOZaVcdXN5AJbwAX4p=s0-d-e1-ft#https://image.globaloliveyoungshop.com/email/top_ban_bg_03.png)
                                  0 0 no-repeat;
                              "
                            >
                              <span
                                style="
                                  width: 80%;
                                  display: block;
                                  margin: 0 auto;
                                "
                                >This is your verification number you have
                                requested.</span
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td
                      style="
                        height: 380px !important;
                        vertical-align: top;
                        box-sizing: border-box;
                      "
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="
                          width: 100% !important;
                          margin: 0;
                          padding: 0;
                          vertical-align: top;
                          table-layout: fixed;
                        "
                        width="100%"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                line-height: 22px !important;
                                padding-top: 50px;
                                padding-bottom: 30px;
                                padding-right: 20px;
                                padding-left: 20px;
                                text-align: center;
                                font-family: Roboto, Tahoma, Verdana,
                                  Apple SD Gothic Neo, sans-serif;
                                font-size: 16px;
                                color: #141414;
                                letter-spacing: 0.2px;
                              "
                            >
                              Thanks for visiting OLIVE YOUNG. Per your
                              request,<br />
                              Following is a verification number<br />
                              <strong
                                >Marina Rachlin(<span
                                  ><a
                                    href="mailto:marina.rachlin@gmail.com"
                                    target="_blank"
                                    >marina.rachlin@gmail.<wbr />com</a
                                  ></span
                                >)</strong
                              >
                              has requested.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                style="
                                  width: 100% !important;
                                  height: 100% !important;
                                  margin: 0;
                                  padding: 0 100px;
                                  table-layout: fixed;
                                "
                                width="100%"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        padding-top: 20px;
                                        padding-bottom: 20px;
                                        padding-right: 20px;
                                        padding-left: 20px;
                                        font-size: 14px;
                                        color: #666;
                                        text-align: center;
                                        border-top: 1px solid #e0e0e0;
                                        border-bottom: 1px solid #e0e0e0;
                                        letter-spacing: 0.2px;
                                      "
                                    >
                                      <strong
                                        style="
                                          font-family: Roboto, Tahoma, Verdana,
                                            Apple SD Gothic Neo, sans-serif;
                                          color: #141414;
                                          font-size: 18px;
                                          font-weight: 500;
                                        "
                                        >Verification number :</strong
                                      >
                                      <strong
                                        style="
                                          font-family: Montserrat, Roboto,
                                            Tahoma, Verdana, Apple SD Gothic Neo,
                                            sans-serif;
                                          color: #f27370;
                                          font-size: 18px;
                                          font-weight: 500;
                                        "
                                        >690607</strong
                                      >
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                line-height: 18px !important;
                                padding-top: 24px;
                                padding-right: 20px;
                                padding-bottom: 50px;
                                padding-left: 20px;
                                text-align: center;
                                font-size: 14px;
                              "
                            >
                              Please enter you verification number in valid
                              format.<br />
                              Your verification number will be expired in 60
                              minutes.<br />
                              <br />
                              If you have not issued a password verification
                              request, you can safely ignore this mail, and your
                              account will not be affected.
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="
                          width: 100% !important;
                          height: 100% !important;
                          margin: 0;
                          padding: 25px 20px;
                          background-color: #f5f5f5;
                          table-layout: fixed;
                        "
                        width="100%"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                line-height: 17px !important;
                                text-align: center;
                                font-family: Roboto, Tahoma, Verdana,
                                  Apple SD Gothic Neo, sans-serif;
                                font-size: 12px;
                                color: #666;
                              "
                            >
                              This is an automatically distributed email. Please
                              do not reply to this email.<br />
                              For any inquires please contact our
                              <a
                                href="https://fqsc5l70.r.ap-northeast-2.awstrack.me/L0/https:%2F%2Fglobal.oliveyoung.com%2Fboard%2Ffaq/1/010c0186d7aa7053-bff2ebb3-ff2f-4968-a7b3-db5423cd19f6-000000/r1t1EjrLXmz34QEw-lklK0osgP0=97"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://fqsc5l70.r.ap-northeast-2.awstrack.me/L0/https:%252F%252Fglobal.oliveyoung.com%252Fboard%252Ffaq/1/010c0186d7aa7053-bff2ebb3-ff2f-4968-a7b3-db5423cd19f6-000000/r1t1EjrLXmz34QEw-lklK0osgP0%3D97&amp;source=gmail&amp;ust=1696684550288000&amp;usg=AOvVaw0D7TnDugf7WdKVK_XEVClA"
                                >Customer Service Center.</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                line-height: 17px !important;
                                padding-top: 15px;
                                text-align: center;
                                font-family: Roboto, Tahoma, Verdana,
                                  Apple SD Gothic Neo, sans-serif;
                                font-size: 12px;
                                color: #666;
                              "
                            >
                              Copyright ⓒ 2021 OLIVE YOUNG All rights reserved.
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>